* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow: auto;
}

.margin--left--lg {
  margin-left: 20rem;
}

.grid--center-v {
  align-items: center;
}
.arrow__one {
  display: none;
}
.arrow__two {
  display: none;
}
.arrow__three {
  display: none;
}

/**************************/
/* MOBILE NAVIGATION */
/**************************/
.burger {
  display: none;
  flex-direction: column;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: auto;
  margin-left: 1rem;
}

.burger-line {
  width: 2rem;
  height: 0.2rem;
  background-color: #0b0a0c;
  margin: 0.3rem 0;
  transition: all 0.3s ease;
}
